#!/usr/bin/env bash

alias pulld='git pull origin develop'
alias dpush='git push origin develop'
alias dpull='git pull origin develop'
alias pushm='git push origin main'
alias pullm='git pull origin main'
alias mpush='git push origin main'
alias mpull='git pull origin main'
alias cod='git checkout develop'
alias com='git checkout main'

alias edit='code .'
alias notes='code ~/github.com/abstrctn/dendron/dendron.code-workspace'

alias pr='gh pr view --web || gh pr create --web'
alias debug='BYEBUGDAP=1 GITHUB_CODESPACES_CUSTOM_PORT=1 script/server --debug'

# Connect to an active codespace
alias cs='gh codespace ssh -c `get-codespace` -- zsh -il'
alias cscode='open "vscode://github.codespaces/connect?name=`get-codespace`"'
alias ghcode='cd ~/github.com/github/github && cscode'

# Building git
alias inflate='ruby -r zlib -e "STDOUT.write Zlib::Inflate.inflate(STDIN.read)"'

alias view-bplist='plutil -convert xml1 -r -o - -- -'

alias python=/usr/local/bin/python3