[user]
	name = Michael Strickland
	email = abstrctn@github.com
	signingkey = DE20B954B43FCCDE
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[commit]
	gpgsign = false
[gpg]
	program = gpg
[github]
	user = abstrctn
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
